---
- name: Create directory
  file:
    path: ~/web
    state: directory

- name: Copy backend files
  copy:
    src: backend
    dest: ~/web/backend

# - name: Start Node project
#   shell: |
#     pm2 start ~/web/main.js -f
#     pm2 status
