---
- name: Create directory
  file:
    path: ~/web
    state: directory

- name: Copy backend files
  copy:
    src: /
    dest: ~/web/dist

- name: Start Node project
  shell: |
    pm2 start ~/web/dist/main.js -f
    pm2 status
