---
# - name: Create directory
#   file:
#     path: ~/web
#     state: directory

- name: Display dir
  ansible.builtin.debug:
    var: playbook_dir

# - name: Copy backend files
#   become: true
#   unarchive:
#     src: ~
#     dest: ~/web
#     mode: 0755

# - name: Start Node project
#   shell: |
#     pm2 start ~/web/main.js -f
#     pm2 status
